*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

nav{
    padding: 1.8rem 10rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;

    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

.logo{
    font-size: 2rem;
}

.logo a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

nav ul a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

/* Hero */
#hero{
    margin: 2rem 10rem;
    padding: 4rem 3rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    background-color: rgb(173, 216, 230);
}
#hero h1{
    font-size: 2.5rem;
}

#hero p{
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
}

/* Listings */

#listings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 2rem 10rem;
}

#listings h1{
    margin-bottom: 0.5rem;
}

.prop-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 2rem;
}

.card{
    width: 370px;
    height: 570px;
    background-color: white;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.prop-details{
    padding: 1.2rem;
}

.prop-details h2{
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
}

.prop-details p{
    color: #333333;
    border-bottom: 1px solid rgb(240, 240, 240);
    margin-bottom: 4px;
    padding: 0.5rem 0;
}

.prop-details p:last-child{
    border: 0;
}

.prop-details p strong{
    color: #555555;
}

.prop-details .price{
    font-size: 1.5rem;
    color: rgb(77, 166, 255);
    font-weight: bold;
}

.prop-details .status{
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: rgb(173, 216, 230);

}

/* Contact */
#contact{
    margin: 2rem 10rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
    padding: 4rem 0;

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h1{
    margin-bottom: 1rem;
}

#contact p{
    font-size: 1.2rem;
    color: #555555;
    margin-bottom: 4px;
}

/* Footer */
footer{
    background-color: rgb(211, 211, 211);
    margin-top: 4rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.gst{
    color: rgb(85, 85, 85);
    font-size: 14px;
    font-style: italic;
}