*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, sans-serif;
    background-color: rgb(245, 245, 245);
    color: rgb(51, 51, 51);
}

nav{
    padding: 1.8rem 10rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(211, 211, 211);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px;

    position: sticky;
    top: 0;
    width: 100%;
}

.logo{
    font-size: 2rem;
}

.logo a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

nav ul a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}